    body {
      animation: colorchange 50s; /* animation-name followed by duration in seconds*/
         /* you could also use milliseconds (ms) or something like 2.5s */
      -webkit-animation: colorchange 0.5s; /* Chrome and Safari */
    }

    @keyframes colorchange
    {
      0%   {background: red;}
      25%  {background: yellow;}
      50%  {background: blue;}
      75%  {background: green;}
      100% {background: red;}
    }

    @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
    {
      0%   {background: red;}
      25%  {background: yellow;}
      50%  {background: blue;}
      75%  {background: green;}
      100% {background: red;}
    }

body {
    background-color: pink;
}

#green {
    position: relative;
    background-color: green;
    width: 370px;
    height: 300px;
    top: 20px;
    left: 30px;
}

#lime {
    width: 200px;
    height: 300px;
    background-color: lime;
}

#red {
    position: absolute;
    width: 300px;
    height: 75px;
    background-color: red;
    left: 20px;
    top: 20px;
}

#blue {
    width: 300px;
    height: 100px;
    background-color: blue;
}

#zafixowany {
    width: 250px;
    height: 200px;
    background-color: darkorchid;
    position: fixed;
    top: 30px;
    right: 30px;
}